.FriendList {
	position: absolute;
	bottom: 20px;
	left: 20px;
	width: 190px;
	background-color: #ddd;
	border-radius: 15px;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
	overflow: hidden;

	.header {
		background-color: #FE7A76;
		color: black;
		font-weight: bold;
		padding: 8px 12px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		font-size: 14px;

		.add-icon {
			cursor: pointer;
			font-size: 0.8rem;
		}

		.search-container {
			display: flex;
			align-items: center;
			gap: 6px;
			width: 100%;
		}

		.friend-search-input {
			flex: 1;
			padding: 4px 6px;
			border: 1px solid #aaa;
			border-radius: 4px;
			font-size: 12px;
			background: #fefefe;
			color: #333;
            width: 50%;
		}

		.add-btn {
			background-color: #28a745;
			color: white;
			border: none;
			padding: 4px 6px;
			font-size: 12px;
			border-radius: 4px;
			cursor: pointer;
		}

		.add-btn:hover {
			background-color: #218838;
		}

		.cancel-icon {
			color: #c0392b;
			cursor: pointer;
			font-size: 0.8rem;
		}
	}

	ul {
		list-style: none;
		margin: 0;
		padding: 0;
		max-height: calc(5 * 36px);
		overflow-y: auto;

		&::-webkit-scrollbar {
			width: 6px;
		}
		&::-webkit-scrollbar-track {
			background: transparent;
			border-radius: 10px;
		}
		&::-webkit-scrollbar-thumb {
			background-color: #bbb;
			border-radius: 10px;
		}
		&::-webkit-scrollbar-thumb:hover {
			background-color: #999;
		}

		li {
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding: 0 12px;
			background-color: #f3f3f3;
			border-top: 1px solid #ccc;
			font-size: 13px;
			height: 36px;

			.icons {
				display: flex;
				align-items: center;
				gap: 6px;

				.online {
					color: #00cc44;
					font-size: 0.5rem;
				}

				.offline {
					color: #ff4444;
					font-size: 0.5rem;
				}

				.menu-button {
					border: none;
					background: transparent;
					margin: 0;
					padding: 8px;
					cursor: pointer;

					.menu-icon {
						font-size: 0.7rem;
						color: #555;
						cursor: pointer;
					}
				}
			}
		}
	}
}
