.FriendList .friendlist-container {
  position: absolute;
  bottom: 20px;
  left: 20px;
  width: 190px;
  background-color: #ddd;
  border-radius: 15px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}
.FriendList .friendlist-container .header {
  background-color: #FE7A76;
  color: black;
  font-weight: bold;
  padding: 8px 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
}
.FriendList .friendlist-container .header .add-icon {
  cursor: pointer;
  font-size: 0.8rem;
}
.FriendList .friendlist-container .header .search-container {
  display: flex;
  align-items: center;
  gap: 6px;
  width: 100%;
}
.FriendList .friendlist-container .header .friend-search-input {
  flex: 1;
  padding: 4px 6px;
  border: 1px solid #aaa;
  border-radius: 4px;
  font-size: 12px;
  background: #fefefe;
  color: #333;
  width: 50%;
}
.FriendList .friendlist-container .header .add-btn {
  background-color: #28a745;
  color: white;
  border: none;
  padding: 4px 6px;
  font-size: 12px;
  border-radius: 4px;
  cursor: pointer;
}
.FriendList .friendlist-container .header .add-btn:hover {
  background-color: #218838;
}
.FriendList .friendlist-container .header .cancel-icon {
  color: #c0392b;
  cursor: pointer;
  font-size: 0.8rem;
}
.FriendList .friendlist-container ul {
  list-style: none;
  margin: 0;
  padding: 0;
  max-height: 180px;
  overflow-y: auto;
}
.FriendList .friendlist-container ul::-webkit-scrollbar {
  width: 6px;
}
.FriendList .friendlist-container ul::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 10px;
}
.FriendList .friendlist-container ul::-webkit-scrollbar-thumb {
  background-color: #bbb;
  border-radius: 10px;
}
.FriendList .friendlist-container ul::-webkit-scrollbar-thumb:hover {
  background-color: #999;
}
.FriendList .friendlist-container ul .friend-name {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.FriendList .friendlist-container ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 12px;
  background-color: #f3f3f3;
  border-top: 1px solid #ccc;
  font-size: 13px;
  height: 36px;
  width: 160px;
}
.FriendList .friendlist-container ul li span {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 140px;
  display: block;
}
.FriendList .friendlist-container ul li:hover {
  background-color: #A4D6BF;
}
.FriendList .friendlist-container ul li .icons {
  display: flex;
  align-items: center;
  gap: 6px;
}
.FriendList .friendlist-container ul li .icons .online {
  color: #00cc44;
  font-size: 0.5rem;
}
.FriendList .friendlist-container ul li .icons .offline {
  color: #ff4444;
  font-size: 0.5rem;
}
.FriendList .friendlist-container ul li .icons .menu-button {
  border: none;
  background: transparent;
  margin: 0;
  padding: 8px;
  cursor: pointer;
}
.FriendList .friendlist-container ul li .icons .menu-button .menu-icon {
  font-size: 0.7rem;
  color: #555;
  cursor: pointer;
}
.FriendList .friendlist-menu {
  width: auto;
  height: 159px;
  background-color: #f0f0f0;
  position: absolute;
  bottom: 20px;
  left: 220px;
}
.FriendList .friendlist-menu .menu-header {
  justify-content: center;
}
.FriendList .friendlist-menu button {
  background: none;
  border: none;
  color: #333;
  padding: 8px;
  width: 100%;
  text-align: left;
  cursor: pointer;
}
.FriendList .friendlist-menu button:hover {
  background-color: #A4D6BF;
}
.FriendList .friendlist-menu .close-icon {
  position: absolute;
  top: 8px;
  right: 8px;
  cursor: pointer;
  font-size: 1.1rem;
  margin-left: 10px;
}/*# sourceMappingURL=FriendList.css.map */