.MoveButton{
    position: absolute;
    //top: 20px;
    left: 20px;
    z-index: 1;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}